@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@300;400;500;600;700&display=swap');

/* Variable CSS declarations */
:root {
  --base-font: 'Roboto', sans-serif;
  /* --code-font: 'Fira Code', monospace; */
  --logo-font: 'Sarpanch', sans-serif;	

  /* Colors */
  --color-light-100: #00ADB5;
  --color-light-200: #42B6BD;
  --color-light-300: #62BFC5;
  --color-light-400: #7CC9CD;
  --color-light-500: #93D2D5;
  --color-light-600: #AADBDE;

  --color-dark-100: #222831;
  --color-dark-200: #373C45;
  --color-dark-300: #4D525A;
  --color-dark-400: #64686F;
  --color-dark-500: #7C8086;
  --color-dark-600: #95989D;

  --color-variant-100: #2a5a62;
  --color-variant-200: #426b72;
  --color-variant-300: #597c82;
  --color-variant-400: #708e93;
  --color-variant-500: #87a0a4;
  --color-variant-600: #9eb2b6;

  --color-font-base: #FFFFFF;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
  --font-size-4xl: 36px;
  --font-size-5xl: 48px;

  /* spacing */
  --spacing-1: 5px; 
  --spacing-2: 10px;
  --spacing-3: 15px;
  --spacing-4: 20px;
  --spacing-5: 25px;
  --spacing-6: 30px;
  --spacing-7: 35px;
  --spacing-8: 40px;
  --spacing-9: 45px;
  --spacing-10: 50px;

  --spacing-logo: 100px;

  /* border radius */
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 15px;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-family: var(--base-font);
    background-color: var(--color-variant-200);
    min-height: 100vh;
    color: var(--color-font-base);
}

body {
    overscroll-behavior: none;
  }

a {
text-decoration: none;
}

a:visited {
color: inherit;
}

ul,
li {
list-style: none;
}

p,
li,
a {
  font-size: var(--font-size-md);
}
a:hover{
  text-decoration: underline;
}

h1{
  font-size: var(--font-size-5xl);
}

h2{
  font-size: var(--font-size-4xl);
  font-weight: 400;
}

/* Input styles */

input[type="text"],
input[type="password"],
input[type="email"]{
  padding: var(--spacing-3);
  border: var(--color-variant-600) 1px solid;
  border-radius: var(--border-radius-sm);
  font-family: var(--base-font);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
  outline: none;
  border: var(--color-variant-100) 1px solid;
}

/* Button styles */

button{
  padding: var(--spacing-3);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-family: var(--base-font);
  background-color: var(--color-light-100);
  color: var(--color-font-base);
}

button:hover{
  background-color: var(--color-light-200);
}

button:disabled{
  background-color: var(--color-variant-400);
}

